@import '../../assets/sass/variables.scss';

.bg{
    background-image: url('../../assets/img/bg.png');
    background-position: center;
    background-size: cover;
    height: 615px;
}

li{
    list-style-type: none;
}

.header{
    .offcanvas{
        background-color: $pink;
        &-body{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            a{
                color: white !important;
                margin-top: 20px;
                &:active{
                    transform: scale(0.9);
                }
            }
            .changer{
                a:active{
                    transform: scale(0.9);
                }
                .active{
                    color: black !important;
                }
            }
        }
    }
    &-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-right{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
            }
        }
        a{
            text-decoration: none;
            margin-right: 30px;
            color: white;
            font-family: 'Comfortaa';
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            transition: 0.5s ease all;
            &:hover{
                transform: scale(1.1);
            }
        }
        select{
            background: transparent;
            border: none;
            margin-right: 20px;
            color: white;
            transition: 3s ease all;
            option{
                background: $pink;
                font-size: 16px;
                color: black;
            }
        }
        button{
            border-radius: 2px;
            background-color: $pink;
            padding: 8px 14px;
            align-items: center;
            border: none;
            color: white;
            transition: 0.5s ease all;
            &:active{
                transform: scale(0.9);
            }
        }
    }
    .changer{
      margin-top: 20px;
      a{
        color: $darkPink;
      }
    }
    &-bottom{
        margin-top: 39px;
        display: flex;
        flex-wrap: nowrap;
        &1{
            background: url('../../assets/img/hBottom1.png');
            background-position: center;
            background-size: cover;
            padding: 50px;
            border-radius: 10px;
            height: 700px;
            display: flex;
            align-items: baseline;
            justify-content: center;
            flex-direction: column;
        }
        &2{
            background: url('../../assets/img/hBottom2.png');
            background-position: center;
            background-size: cover;
            border-radius: 10px;
            padding: 50px;
        }
        div{
            b{
                font-weight: 600;
                font-size: 78px;
                line-height: 87px;
                color: white;
            }
            p{
                font-weight: 300;
                font-size: 28px;
                line-height: 31px;
                color: white;
                margin: 40px 0;
                width: 570px;
            }
            button{
                border: 1px solid white;
                border-radius: 2px;
                padding: 10px 26px;
                background: transparent;
                color: white;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}
