@import 'https://unpkg.com/aos@2.3.1/dist/aos.css';

.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-weight: 400;
        font-size: 42px;
        line-height: 129.5%;
        color: #000000;
    }
    &-first{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;
        background-color: #fff;
        padding: 20px;
        p{
            width: 750px;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            color: black;
            text-align: right;
        }
        img{
            transform: translateX(-90px);
        }
    }
    &-second{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        background-color: #fff;
        padding: 20px 100px;
        p{
            width: 720px;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            color: black;
        }
        img{
            transform: translateX(180px)
        }
    }
}