@import './assets/sass/variables.scss';

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Barlow', sans-serif !important;
  font-family: 'Comfortaa', cursive !important;
  font-family: 'Electrolize', sans-serif !important;
  font-family: 'Playfair Display', serif !important;
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;
  background-color: #E5E5E5;
}

.App{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

ul{
  list-style-type: none;
  padding: 0;
  li{
    padding: 0;
    padding-left: 0;
  }
}

b::selection{
  color: aqua;
}

h2::selection{
  color: aqua;
}

h3::selection{
  color: aqua;
}

// media screen

@media (max-width: 900px){
  .header-links-right{
    display: none !important;
  }
  .header-links-media{
    display: block !important;
  }
}

@media (max-width: 1660px){
  .project{
    &-first{
      width: 100%;
    }
  }
}