@import './assets/sass/variables.scss';

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Barlow', sans-serif;
  font-family: 'Comfortaa', cursive;
  font-family: 'Electrolize', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.App{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

b::selection{
  color: aqua;
}

h2::selection{
  color: aqua;
}

h3::selection{
  color: aqua;
}

@media and, (max-width: 768px){
  .container{
    width: 100%;
    margin: 0 auto;
  }
  .groups-first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    img{
      width: 300px;
    }
    p{
      text-align: center !important;
      font-size: 20px !important;
    }
  }
  .groups-second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    transform: rotateX(180deg);
    img{
      transform: rotateX(180deg);
      width: 300px;
    }
    p{
      text-align: center;
      transform: rotateX(180deg);
      font-size: 20px !important;
    }
  }
  .regist{
    overflow-y: scroll;
    &-btn{
      margin-top: 40px;
    }
    h2{
      font-size: 32px !important;
    }
    &-inp{
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      input{
        width: 260px !important;
      }
    }
  }
  .bgD{
    width: 100%;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .direction{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-txt{
      b{
        font-size: 32px !important;
      }
      p{
        font-size: 20px;
        text-align: center;
      }
    }
    &-cards{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  .project{
    margin-top: -200px;
    &-first{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img{
        width: 300px !important;

      }
      p{
        font-size: 20px !important;
        width: 300px !important;
        text-align: center !important;
      }
    }
    &-second{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: rotateX(180deg);
      img{
        transform: rotateX(180deg);
        width: 300px;
      }
      p{
        font-size: 20px !important;
        transform: rotateX(180deg);
        width: 300px !important;
      }
    }
  }
  .bg{
    background-position: center;
    background-size: contain;
  }
  .header-bottom{
    display: none !important;
  }
  .header-bottom-media{
    margin-top: 100px;
    display: block !important;
    .right{
      display: block !important;
    }
    .left{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      min-width: 320px;
      p{
        text-align: center !important;
      }
    }
  }
  .header-links{
    &-left{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &-right{
      display: none;
    }
  }
  .bgR{
    height: 1100px !important;
  }
  .result{
    overflow-y: scroll !important;
    height: 1100px;
    &-txt{
      h2{
        font-size: 30px !important;
      }
      p{
        width: 300px !important;
        font-size: 14px !important;
      }
    }
    &-cards{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: wrap;
      div{
        margin-top: 10px !important;
        p{
          font-size: 12px;
        }
      }
    }
  }
  .footer{
    &-links{
      &-center{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: wrap;
        p{
          margin-top: 10px !important;
        }
      }
      &-right{
        div{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          img{
            margin-top: 10px;
            width: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px){
  .footer{
    &-links{
      &-left{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
        img{
          margin-right: 50px;
        }
        b{
          margin-left: 10px;
        }
      }
      &-center{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column;
        p{
          margin-top: 10px !important;
        }
      }
      &-right{
        div{
          display: flex !important;
          align-items: center !important;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100px;
          img{
            margin-top: 10px;
            width: 30px;
          }
        }
      }
    }
  }
}

// 320

@media (width: 320px){
  .container{
    width: 100%;
    overflow: hidden;
  }
  .bg{
    background-position: center !important;
    background-size: cover !important;
    width: 100%;
  }
  .groups-first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 300px;
    }
    p{
      text-align: left !important;
      transform: rotateX(180deg);
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }
  .groups-second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: rotateX(180deg);
    img{
      transform: rotateX(180deg);
      width: 300px;
    }
    p{
      text-align: left;
      transform: rotateX(180deg);
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }
  .regist{
    overflow-y: scroll;
    height: 850px !important;
    h2{
      font-size: 30px !important;
    }
    &-inp{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      input{
        width: 260px !important;
      }
      &-right{
        margin-left: 0 !important;
      }
    }
  }
  .bgD{
    width: 300px !important;
  }
  .bgD{
    height: 1460px !important;
  }
  .direction{
    width: 300px !important;
    &-txt{
      b{
        font-size: 30px !important;
      }
      p{
        font-size: 12px !important;
        text-align: center;
      }
    }
    &-cards{
      margin-top: 0 !important;
      div{
        height: 190px !important;
        margin-top: 10px;
        p{
          font-size: 12px !important;
        }
        img{
          width: 100px;
        }
      }
    }
    button{
      font-size: 14px !important;
    }
  }
  .project{
    &-first{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img{
        width: 300px !important;

      }
      p{
        font-size: 20px !important;
        width: 300px !important;
      }
    }
    &-second{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: rotateX(180deg);
      img{
        transform: rotateX(180deg);
        width: 300px;
      }
      p{
        font-size: 20px !important;
        transform: rotateX(180deg);
        width: 300px !important;
      }
    }
  }
  .header-bottom{
    display: none !important;
  }
  .header-bottom-media{
    margin-top: 100px;
    display: block !important;
    .right{
      display: block !important;
    }
    .left{
      min-width: 320px;
    }
  }
  .header-links{
    &-left{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &-right{
      display: none;
    }
  }
  .footer{
    &-links{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      width: 300px !important;
      &-center{
        margin-left: -40px;
      }
      &-right{
        flex-wrap: wrap;
        .firstChild{
          margin-left: -10px;
        }
      }
    }
  }
  .bgT{
    height: 1140px !important;
    .tasks{
      &-cards{
        margin-top: -10px;
        div{
          width: 182px;
          height: 85px;
          margin-top: -5px;
        }
        p{
          width: 182px;
          font-size: 12px !important;
          text-align: center;
          margin-right: 5px;
          &::before{
            width: 35px !important;
            height: 35px !important;
            position: absolute !important;
            left: 40% !important;
            top: 70px !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
}

// 365

@media (width: 365px){
  .container{
    width: 100%;
    overflow: hidden;
  }
  .bg{
    background-position: center !important;
    background-size: cover !important;
    width: 100%;
  }
  .groups-first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 340px;
    }
    p{
      text-align: left !important;
      transform: rotateX(180deg);
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }
  .groups-second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: rotateX(180deg);
    img{
      transform: rotateX(180deg);
      width: 340px;
    }
    p{
      text-align: left;
      transform: rotateX(180deg);
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }
  .regist{
    overflow-y: scroll;
    height: 700px !important;
    h2{
      font-size: 30px !important;
    }
    p{
      margin-top: 30px !important;
    }
    &-inp{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      input{
        width: 260px !important;
        padding-top: 0 !important;
        padding-left: 5px !important;
      }
      &-right{
        margin-left: 0 !important;
      }
      &-left{
        margin-top: -20px !important;
      }
    }
  }
  .bgR{
    height: 800px !important;
  }
  .result{
    &-cards{
      display: flex !important;
      div{
        display: flex !important;
        flex-direction: row !important;
        margin-top: 20px !important;
        p{
          text-align: left;
          margin-left: 10px;
        }
      }
    }
  }
  .bgD{
    height: 780px !important;
  }
  .direction{
    width: 340px !important;
    &-txt{
      b{
        font-size: 30px !important;
      }
      p{
        font-size: 12px !important;
        text-align: center;
      }
    }
    &-cards{
      margin-top: 0 !important;
      display: flex !important;
      flex-wrap: wrap !important;
      flex-direction: row;
      width: 270px;
      .second{
        margin-left: 1px;
      }
      div{
        width: 120px !important;
        height: 170px !important;
        margin-top: 10px;
        p{
          font-size: 12px !important;
        }
        img{
          width: 100px;
        }
      }
    }
    button{
      font-size: 14px !important;
    }
  }
  .project{
    h2{
      font-size: 30px !important;
    }
    p{
      font-size: 12px !important;
      text-align: left !important;
      line-height: 24px !important;
      margin-left: -20px !important;
    }
    &-first{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img{
        width: 340px !important;

      }
    }
    &-second{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: rotateX(180deg);
      img{
        transform: rotateX(180deg);
        width: 340px;
      }
    }
  }
  .header-bottom{
    display: none !important;
  }
  .header-bottom-media{
    margin-top: 100px;
    display: block !important;
    .right{
      display: block !important;
    }
    .left{
      min-width: 320px;
      b{
        font-size: 28px !important;
      }
      p{
        font-size: 12px !important;
        margin-top: 20px;
      }
      button{
        margin-top: 20px;
        font-size: 14px !important;
      }
    }
  }
  .header-links{
    &-left{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &-right{
      display: none;
    }
  }
  .footer{
    &-links{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      width: 340px !important;
      &-center{
        margin-left: -40px;
      }
      &-right{
        flex-wrap: wrap;
        .firstChild{
          margin-left: -10px;
        }
      }
    }
  }
  .bgT{
    height: 755px !important;
    .tasks{
      h2{
        font-size: 30px !important;
      }
      &-cards{
        margin-top: 10px;
        width: 345px;
        display: flex;
        flex-wrap: wrap;
        div{
          width: 122px;
          height: 95px;
          margin-top: 5px;
        }
        p{
          width: 182px;
          font-size: 12px !important;
          text-align: center;
          margin-right: 5px;
          &::before{
            width: 35px !important;
            height: 35px !important;
            position: absolute !important;
            left: 37% !important;
            top: 80px !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
  .offcanvas{
    width: 50% !important;
    opacity: 0.9;
    &-body{
      display: flex;
      flex-direction: column;
      a{
        color: $pink !important;
        margin-top: 10px;
      }
    }
  }
}